<ion-content>
    <ion-list no-lines>
        <ion-item text-center>
            <img src="assets/logo.png">
        </ion-item>
        <ion-item>
            <h1 text-center>ThinkZone</h1>
        </ion-item>
        <p *ngIf="isSubmit" style="color: #ea6153;" padding text-center>Please fill out all input field with any dummy data</p>
        <form [formGroup]="loginForm" (ngSubmit)="goToTab()">
        <ion-item>
            <ion-label>User ID</ion-label>
            <ion-input type="text" formControlName="userId" name="userid"></ion-input> 
        </ion-item>

        <ion-item *ngIf="!loginForm.controls.userId.valid  && (isSubmit)">
            <p>Please enter any user name i.e admin.</p>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password" name="password"></ion-input>
        </ion-item>

        <ion-item *ngIf="!loginForm.controls.password.valid  && (isSubmit)">
            <p>Please enter any password i.e. 1234.</p>
        </ion-item>

        <ion-item text-center>
            <button ion-button color="primary" type="submit" large>For Program Manager</button>
        </ion-item>
        </form>
    </ion-list>
</ion-content>